:root {
    --blue: #2de2e6;
    --pink: #f6019d;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    
    width: 100%;
    background: white;
    
}

nav {
    padding: 10px 30px 10px 30px;
    box-shadow: 10px 0px 10px 0px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name {
    font-size: 1.5rem;
    font-family: "Jost", serif;
    font-weight: 600;
    color: var(--pink);
}

#ddbtn {
    background: none;
    border: none;
}

#mobilelinks {
    display: none;
    position: absolute;

}

#mobilelinks:hover {
    display: block;
}

.mobilelink {
    font-family: "Jost", serif;
    font-weight: 500;
}

.link {
    padding-right: 20px;
    text-decoration: none;
    font-size: 1.15rem;
    color: black;
    text-decoration: underline;
    transition: 175ms ease-in;
    font-family: "Jost", serif;
    font-weight: 500;
}

.link:hover {
    color: var(--pink);
}

#hamburger {
    width: 100px;
    height: 50px;
    background: none;
    border: none;
    background-image: url(./images/menu-left.svg);
}

.circle:nth-child(1) {
    height: 1300px;
    width: 1300px;
    background: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 1px solid var(--pink);
    opacity: 25%;
    z-index: -1;
}
.circle:nth-child(2) {
    height: 900px;
    width: 900px;
    background: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 1px solid var(--pink);
    opacity: 25%;
    z-index: -1;
}
.circle:nth-child(3) {
    height: 500px;
    width: 500px;
    background: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 1px solid var(--pink);
    opacity: 25%;
    z-index: -1;
}
.circle:nth-child(4) {
    height: 100px;
    width: 100px;
    background: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: 1px solid var(--pink);
    opacity: 25%;
    z-index: -1;
}

.orb:nth-child(1) {
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--blue);
    top: 150px;
    left: 100px;
    border-radius: 100%;

}
.orb:nth-child(2) {
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--pink);
    top: 120px;
    left: 300px;
    border-radius: 100%;
   
}
.orb:nth-child(3) {
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--pink);
    top: 150px;
    right: 300px;
    border-radius: 100%;
    
}
.orb:nth-child(4) {
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--blue);
    top: 200px;
    right: 100px;
    border-radius: 100%;
    
}

h1 {
    text-align: center;
    font-family: "Jost", serif;
    font-weight: 500;
    font-size: 3rem;
}

.heading {
    font-size: 2rem;
    font-family: "Jost", serif;
    font-weight: 500;
    color: var(--pink);
    text-align: center;
}

p {
    text-align: center;
    font-family: "Jost", serif;
    font-size: 1.25rem;
    
}

.sectionarea {
    margin-top: 50px;
    margin-bottom: 50px;
}

.projlink {
    color: var(--pink);
    font-size: 1.1rem;
    font-family: "Jost", serif;
    transition: 200ms ease-in;
}
.projlink:hover {
    color: black;
}

#lower_container {
    margin-left: 10px;
    margin-right: 10px;
    width: 75%;
}

#location {
    margin-top: -20px;
}

.projectarea {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

li {
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#gradient-board {
    height: 500px;
    width: 900px;
    background-image: conic-gradient(var(--pink) 170deg, var(--blue) 310deg) ;
    animation: rotation 20s linear infinite;
    animation-name: spin;
    animation-duration: 5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    position: relative;
}
#inside-board {
    height: 480px;
    width: 880px;
    background: black;
    border-radius: 1.5rem;
    
}

#image {
    object-fit: cover;
    width: 880px;
    height: 480px;
    border-radius: 1.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: var(--pink);
}

footer {
    margin-top: 50px;
    display: flex;
    background: black;
    padding: 10px 40px 10px 40px;
    justify-content: space-between;
}
h3 {
    color: white;
    font-family: "Jost", serif;
}

/* @keyframes spin {
    from {background-image: conic-gradient(var(--pink) 190deg), var(--blue) 330deg;}
    to {background-image: conic-gradient(var(--pink) 250deg), var(--blue) 350deg;}
} */

@media (max-width: 768px) {
    .orb {
        display: none;
    }
    main {
        margin-top: 100px;
    }
    #gradient-board {
        height: 500px;
        width: 500px;
    }
    #inside-board {
    height: 480px;
    width: 480px;
    }
    #image {
        width: 480px;
        height: 480px;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 552px) {
    #linkarea {
        display: none;
    }
    #gradient-board {
        height: 400px;
        width: 300px;
    }
    #inside-board {
        height: 380px;
        width: 280px;
    }
    #image {
        height: 380px;
        width: 280px;
    }
}


@media (min-width: 552px) {
    #mobilenav {
        display: none;
    }
}